body{
    background-color: #C9FBFF;
}

.App {
  text-align: center;
}

.flex{
  display: flex;
  flex-direction: column;
}
@media(min-width: 768px){
  .flex{
    flex-direction: row;
    font-size: 20px;
  }
  .active, .done{
    width: 45%;
  }
}
@media(min-width: 1024px){
  .active, .done{
    margin: 0;
    min-height: 70vh;
  }
  .flex button{
    font-size: 17px;
  }
}
.active, .done{
  background-color: #57737A;
    margin:5%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    color: white;
}

.secondBtn{
  margin-left: 10px;
}

.flex button{
  color: white;
  background-color: #030A0F;
  border-radius: 2px;
  border: none;
}